<div class="row">
    <div class="col">
        <button mat-raised-button color="primary">
            <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-raised-button color="primary">
            <mat-icon> message</mat-icon>
        </button>
        <button mat-raised-button color="primary">
            <mat-icon>videocam</mat-icon>
        </button>
        <button mat-raised-button color="primary">
            <mat-icon>inbox</mat-icon>
        </button>
        <button mat-raised-button color="primary">CM</button>
    </div>
</div>