/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { 
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    height: fit-content;
    /* -webkit-user-select: none; */
    -webkit-app-region: drag;
}